.bg{
    background-image: url('../images/799794.jpg');
    height: 1000px;
}
.middle h2{
    text-align:center;
    padding-top: 500px;
}
.bg1{
    padding: 100px 140px;
}
.middle2{
    margin-bottom: 50px;
}